## Private LB API sample code

In [26]:
from privateLB import API

key = 'sNfoTDclWrvFGpIEFDEXvj+EaCjLrOILF7IYehdRCcYBxnMP0zna40R1UmY6qfWBG0gJ16c3T8ManHwvhACk7w=='
dj = API('20210525','2000','dangjin',key).get_data()
uls = API('20210525','2000','ulsan',key).get_data()

In [29]:
help(API.__init__)

Help on function __init__ in module privateLB:

__init__(self, base_date, base_time, location, key)
    base_date: str, format:'YYYYMMDD'(e.g. '20210522'). 예보 발표일자. API로는 최근 1일간의 자료만을 불러올 수 있다는 점 유의.
    base_time: str, format: 'HHMM'(e.g. '2000' for 20시). 예보 발표시각. 0200, 0500, 0800, 1100, 1400, 1700, 2000, 2300 중 하나여야 함.
    location: str, 'dangjin' or 'ulsan'.

In [27]:
display(dj)
display(uls)

,time,Humidity,Cloud,Temperature,WindDirection,WindSpeed
0,2021-05-26 0:00:00,75.0,1.0,12.0,253.0,2.1
1,2021-05-26 1:00:00,NaN,NaN,NaN,NaN,NaN
2,2021-05-26 2:00:00,NaN,NaN,NaN,NaN,NaN
3,2021-05-26 3:00:00,80.0,1.0,11.0,175.0,2.5
4,2021-05-26 4:00:00,NaN,NaN,NaN,NaN,NaN
5,2021-05-26 5:00:00,NaN,NaN,NaN,NaN,NaN
6,2021-05-26 6:00:00,85.0,1.0,12.0,161.0,2.8
7,2021-05-26 7:00:00,NaN,NaN,NaN,NaN,NaN
8,2021-05-26 8:00:00,NaN,NaN,NaN,NaN,NaN
9,2021-05-26 9:00:00,60.0,1.0,18.0,165.0,4.9
10,2021-05-26 10:00:00,NaN,NaN,NaN,NaN,NaN
11,2021-05-26 11:00:00,NaN,NaN,NaN,NaN,NaN
12,2021-05-26 12:00:00,30.0,3.0,23.0,192.0,5.3
13,2021-05-26 13:00:00,NaN,NaN,NaN,NaN,NaN
14,2021-05-26 14:00:00,NaN,NaN,NaN,NaN,NaN
15,2021-05-26 15:00:00,35.0,4.0,24.0,198.0,8.8
16,2021-05-26 16:00:00,NaN,NaN,NaN,NaN,NaN
17,2021-05-26 17:00:00,NaN,NaN,NaN,NaN,NaN
18,2021-05-26 18:00:00,60.0,1.0,21.0,198.0,6.0
19,2021-05-26 19:00:00,NaN,NaN,NaN,NaN,NaN
20,2021-05-26 20:00:00,NaN,NaN,NaN,NaN,NaN
21,2021-05-26 21:00:00,75.0,3.0,18.0,173.0,2.6
22,2021-05-26 22:00:00,NaN,NaN,NaN,NaN,NaN
23,2021-05-26 23:00:00,NaN,NaN,NaN,NaN,NaN
24,2021-05-26 24:00:00,80.0,4.0,17.0,162.0,1.6

,time,Humidity,Cloud,Temperature,WindDirection,WindSpeed
0,2021-05-26 0:00:00,55.0,1.0,15.0,288.0,2.3
1,2021-05-26 1:00:00,NaN,NaN,NaN,NaN,NaN
2,2021-05-26 2:00:00,NaN,NaN,NaN,NaN,NaN
3,2021-05-26 3:00:00,55.0,1.0,14.0,286.0,2.5
4,2021-05-26 4:00:00,NaN,NaN,NaN,NaN,NaN
5,2021-05-26 5:00:00,NaN,NaN,NaN,NaN,NaN
6,2021-05-26 6:00:00,55.0,1.0,14.0,280.0,1.7
7,2021-05-26 7:00:00,NaN,NaN,NaN,NaN,NaN
8,2021-05-26 8:00:00,NaN,NaN,NaN,NaN,NaN
9,2021-05-26 9:00:00,45.0,3.0,19.0,216.0,2.2
10,2021-05-26 10:00:00,NaN,NaN,NaN,NaN,NaN
11,2021-05-26 11:00:00,NaN,NaN,NaN,NaN,NaN
12,2021-05-26 12:00:00,35.0,3.0,23.0,183.0,3.9
13,2021-05-26 13:00:00,NaN,NaN,NaN,NaN,NaN
14,2021-05-26 14:00:00,NaN,NaN,NaN,NaN,NaN
15,2021-05-26 15:00:00,35.0,3.0,23.0,197.0,5.3
16,2021-05-26 16:00:00,NaN,NaN,NaN,NaN,NaN
17,2021-05-26 17:00:00,NaN,NaN,NaN,NaN,NaN
18,2021-05-26 18:00:00,45.0,4.0,21.0,209.0,3.1
19,2021-05-26 19:00:00,NaN,NaN,NaN,NaN,NaN
20,2021-05-26 20:00:00,NaN,NaN,NaN,NaN,NaN
21,2021-05-26 21:00:00,60.0,3.0,20.0,189.0,3.7
22,2021-05-26 22:00:00,NaN,NaN,NaN,NaN,NaN
23,2021-05-26 23:00:00,NaN,NaN,NaN,NaN,NaN
24,2021-05-26 24:00:00,80.0,4.0,18.0,174.0,2.9